form {list-style:roman; color:#AC5353; font-size:20px;}
h1 {list-style:roman; font-size:35px; color:#AC5353;}
h2 {list-style:roman; font-size:30px; color:#AC5353;}
h3, a {list-style:roman; font-size:25px; color:#AC5353;}
h4 {list-style:roman; font-size:20px; color:#AC5353;}
p {list-style:roman; font-size:15px; color:#AC5353;}