.mainDIV{
    position:relative;
    width:100%;
    min-width:315px;
    display: inline-block; 
}
.leftDIV{
    display: inline-block; 
    top:0px;
    left:0px;
    /*height:50px;*/
    width:100px;
}
.middleDIV{
    /*height:50px;*/
    width:100px;
    margin:0px auto;
    display: inline-block; 
}
.rightDIV{
    display: inline-block; 
    top:0px;
    right:0px;
    /*height:50px;*/
    width:100px;
}
td {
    padding:5px;
    width:20px;
}
.table#t1 tr: {
    background-color: black;
    color: black;
}
.table#t2 tr: {
   background-color: blue;
   color: blue;
}
.table#t3 tr: {
   background-color: blue;
   color: blue;
}